.places {
  box-sizing: border-box;
  max-width: 928px;
  margin: 88px 24px;
  height: fit-content;
  min-width: 320px;    
  padding: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fit, max-content);
  grid-auto-columns: auto;
  gap: 80px;
}

@media screen and (max-width: 680px) {
  .places {
    margin: 64px 0;
    gap: 50px;
  }
}

@media screen and (min-width: 990px) {
  .places {
    margin: 88px auto;
  }
}
