.intro__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}