.header {
  display: flex;
  flex-direction: row;
  padding: 0;
  max-width: 100%;
  margin: 28px 48px 48px;
}

@media screen and (max-width: 426px) {
  .header {
    margin: 16px 16px 48px;
  }
}

@media screen and (max-width: 680px) {
  .header {
    margin: 28px 24px 48px;
  }
}

@media screen and (min-width: 1025px) {
  .header {
    margin: 28px 48px 56px;
  }
}
